@import "./../../../colors";

.formControl.error {

    textarea {
        border: 2px dashed $error-color;
    }
    div {
    }
}

.errorMessage {
    position: relative;
    left: -40;
}

.summaryErrorMessage {
    width: 300px;
    border: none;
    color: $error-color;
}
