@import "./colors";
@import "./fonts";

.app-wrapper {
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
            'cUser content'
            'nav content';
    width: 85%;
    min-width: 1100px;
    height: 90%;
    min-height: 600px;
    margin: auto;
    align-items: center;
    align-self: center;
    background-color: transparent;
    border: 3px solid $second-color;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0 $shadow-color;
}

.app-wrapper-content {
    grid-area: content;
    width: 100%;
    height: 100%;
    /*display: grid;
    grid-template-areas: 'main';*/
    background-color: transparent;
    overflow-y: hidden;
}

.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    //grid-area: main;
    justify-content: center;
    background-color: $main-color;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 10;

    & > img {
        width: 120px;
        height: 120px;
        margin: auto;
    }
}
