
$bg-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.31);

$main-color: rgba(0, 0, 0, 0.05);
$second-color: rgb(153, 217, 234);
$accent-color: #ff9322;

$text-color: #1a1a1a;
$second-text-color: #676767;
