
$bg-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.31);

$main-color: rgba(0, 0, 0, 0.05);
$second-color: rgb(179, 129, 145);
//$second-color: rgb(252, 107, 117);
$accent-color: #ff9322;
$error-color: #df111d;

$text-color: #1a1a1a;
$second-text-color: #676767;
